@font-face {
    font-family: 'Gordita';
    src: url('../assets/fonts/GT-Font/GTWalsheimPro-Regular.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Gordita Medium';
    src: url('../assets/fonts/GT-Font/GTWalsheimPro-Medium.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Gordita Bold';
    src: url('../assets/fonts/GT-Font/GTWalsheimPro-Bold.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Gordita Bolder';
    src: url('../assets/fonts/GT-Font/GTWalsheimPro-UltraBold.ttf') format('truetype');
  }