@font-face {
    font-family: 'Gordita';
    // src: url('../assets/fonts/GT-Font/GTWalsheimPro-Regular.ttf') format('truetype');
    src: url('../assets/fonts/Urbanist/fonts/ttf/Urbanist-Regular.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Gordita Medium';
    src: url('../assets/fonts/GT-Font/GTWalsheimPro-Medium.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Gordita Bold';
    src: url('../assets/fonts/Urbanist/fonts/ttf/Urbanist-Bold.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Gordita Bolder';
    src: url('../assets/fonts/Urbanist/fonts/ttf/Urbanist-ExtraBold.ttf') format('truetype');
  }